body {
    font-family: "Roboto", sans-serif;
  }
  

.data{
    font-size: x-large;
}

.contact{
    padding-top: 30px;
    padding-bottom: 20px;
    border: 1px solid white;
}


.send{
    text-align: center;
}

#image{
    width: 100%;
    min-height: 500px;
}

.about{
    padding-top: 30px;
    padding-bottom: 40px;
}

p{
    font-size: x-large;
    text-align: center;
}


#title{
    text-align: center;
    padding-bottom: 20px;
}

.forma{
    border: 1px solid black;
    padding: 10px;
}


h1{
    padding-top: 70px;
}

.question{
    width: 700px;
    margin: auto;
}